.Footer {
  bottom: 0px;
  position: absolutee;
  margin: auto;
  width: 100%;
  min-height: 200px;
  font-family: "times new roman", times, serif;
  font-style: italic;
  background-color: cornflowerblue;
  padding: 20px 30px;

  a {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
  }
}
