.footer {
  bottom: 0px;
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 200px;
  font-style: italic;
  padding: 20px 30px;
  background: #595959;

  a {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
  }
}
