@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

nav {
  background-color: #e9e4b1;

  a, a:hover {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    color: black;
  }

  .shopping-cart:hover {
    cursor: pointer;
    color: #969696;
  }
}

.navbar .navbar-header .navbar-brand {
  display: block;
  text-align: center;
  float: none;
  vertical-align: top;
}

.navbar-brand, .navbar-brand:hover {
  font-size: xx-large;
  font-weight: 900;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}