@media screen and (max-width: 600px) {
  .section {
    display: block;
    height: auto;
  }

  .section-text {
    width: 100%;
    margin-left: 0;
    padding: 5% 10%;
    text-align: left;
    p {
      text-align: left;
    }
  }

  .section-image {
    position: relative;
    width: 100%;
    height: 25vh;
  }

  /* navbar */
  .navbar {
    padding: 0;
  }
  .navbar-collapse.collapse.dual-nav.w-50.order-2.collapse.show.navbar-collapse, .nav-link {
    text-align: center;
  }

  .mx-auto {
    margin-left:0!important;
  }

  /* footer */
  .col-6, .col-3 {
    flex: none;
    max-width: 100%;
  }

  .footer-links {
    justify-content: space-between;
    display: flex;
  }

  /* homepage */
  .right {
    margin-left: 0;
    width: 100%;
  }

  /* shop navbar */
  .shopNav {
    background-color: #e9e4b7;
    position: fixed;
    z-index: 1;
    margin-left: -2rem;
    margin-top: -2em!important;
    width: 120%;
  }

  .flex-column {
    flex-direction: row!important;
  }
  
  .col-9 {
    flex: none;
    max-width: 100%;
  }

  /* shop */
  .row {
    width: 100%;
    margin: auto 0;
  }


  .shop-item-review-rating {
    padding: 0 15px;
  }

  .product-layout {
    width: 100%!important;
  }

  .product-header, .product-actions, .product-add-items {
    display: block!important;
  }
}