.product-layout {
  margin: 0 auto;
}
.product-row {
  align-items: center;
}

.product-header, .product-actions, .product-add-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  border-radius: 50%;
  background: #000;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 0;
  border: 0.05rem solid #000;
  color:white;
  margin-right: 1rem;

  &:hover {
    border: 0.05rem solid #fff;
    background: #fff;
    color: #000;    
  }
}

.product-qty {
  margin-right: 1rem;
}

p.product-rating {
  text-align: right;
}

.product-name {
  font-size: 2rem;
}

.product-actions {
  font-size: 1.5rem
}

.product-layout {
  padding-top: 5rem;
  width: 75%;
}

.product-reviews-ratings {
  padding: 5% 0 2% 0;
}

.snipcart-add-item {
  border: none;
  background: #000;
  color: #ffff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;

  &:hover {
    background: #fff;
    color: #000;
  }
}