.shopNav {
  position: fixed;
  margin-top: 3em;
}

.dropdown-menu {
  position: relative;
}

.cart-button {
  font-size: 12px;
}

.Product__details {
  display: flex;
  justify-content: space-between;
}