.snip-layout.snip-layout {
  * {
    font-family: "times new roman", times, serif;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-header {
    color: black;
    background: #ffb037;
    h2, span {
      font-weight: 1000;
      font-family: 'Roboto', sans-serif!important;
    }
  }

  .snip-layout__main-container {
    border: 2px solid black;
    padding: 3px;
  }

  .snip-header__total {
    color: white;
    border-radius: 0;
  }

  
}

