@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e9e4b1;
  min-height: 100vh;
}
.content {
  margin-top: 7em;
  min-height: 100vh;
}

p, a, a:hover {
  font-size: 1.25rem;
  color: #969696;
}

.page-containr {
  margin-top: 3.5em;
  margin: 16vh 0;
}
.section {
  h1 {
    font-weight: 400;
    color: #e9e3b0;
    .highlight {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255,176,55, 0.75) 50%);
    }
  }
}

h1 {
  padding: 5% 0;
  font-weight: 1000;
  font-style: italic;
  color: #000000;
  .highlight {
    display: inline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255,176,55, 0.75) 50%);
  }
}


