@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
}

body {
  margin-top: 3em;
}
.page-containr {
  margin-top: 4em;
  margin: 16vh 0;
}
