@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffff;
  min-height: 100vh;
  margin-top: 5rem;
}
.content {
  margin-top: -1%;
  min-height: 100vh;
}

p, a, a:hover {
  color: #000;
  font-size: 1.25rem;
}

.page-containr {
  margin-top: 3.5em;
  margin: 16vh 0;
}

.themed-container.container-sm {
  // margin-left: 0;
  margin: 0 auto;
}

.section {
  h1 {
    font-weight: 400;
    color: #969696;;
    .highlight {
      color: #FFB037;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #E9E3B0 50%);
      
    }
  }
}

h1 {
  padding: 5% 0;
  font-weight: 1000;
  font-style: italic;
  color: #000000;
  .highlight {
    display: inline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255,176,55, 0.75) 50%);
  }
}


